*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia", sans-serif;
}
body{
    background: #f4f6f9;
    color: #333;
}
/* navbar */
nav{
    background: #111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    font-size: 12px;
}
nav h2{
    color: #0d6efd;
    font-size: 15px;
}

/* hero */
.hero{
    background: linear-gradient(rgba(0,0,0.6),rgba(0,0,0.6));
    background: url(img/fshop8.jpg);
    background-position: center;
    background-size: cover;
    color: #000;
    text-align: center;
    padding: 90px 20px;
}
.hero h1{
    font-size: 16px;
    margin-bottom: 15px;
}
.hero p{
    font-size: 1.1rem;
    margin-bottom: 25px;
    font-weight: bold;
}
.hero a{
    background: #25d366;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

/* container */
.container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

/* produits */
.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
}
.carte{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0.6);
    overflow: hidden;
    transition: 3s;
}
.carte:hover{
    transform: translateY(-8px);
}
.carte img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.info{
    padding: 20px;
}
.info h3{
    margin-bottom: 10px;
}
.prix{
    color: #0d6efd;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.badges span{
    display: inline-block;
    background: #e9f0ff;
    color: #0d6efd;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: .8rem;
    margin-right: 5px;
    margin-bottom: 10px;
}
.btn{
    display: block;
    text-align: center;
    background: #25d366;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* avantages */
.avantages{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
    margin-top: 60px;
}
.avantage{
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0.08);
}
.avantage h4{
    margin-bottom: 10px;
    color: #0d6efd;
}

footer{
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 25px;
    margin-top: 60px;
    font-size: 12px;
}

/* whatsapp float */
.whatsapp-float{
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 10px;
    border-radius: 50%;
    font-size: 22px;

}